body{
    background-color: #9fd6f3;
}

.notice{
    color: #27AAE2;
    background-color: yellow;
    position: fixed;
}

.alert{
    color: #27AAE2;
    background-color: yellow;
    position: fixed;
}

#logo_image {
    cursor: pointer;
    z-index: 1;
    width: 300px;
}

.navbar-custom {
    font-size: 110%;
    -moz-box-shadow: 0 1px 2px black;
    -webkit-box-shadow: 0 1px 2px black;
    box-shadow: 0 1px 2px black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: -moz-linear-gradient(90deg, #bce2f7 0%, #d4ecf9 100%) #FFFFFF;
    background: -webkit-gradient(linear, left bottom, left top, from(#bce2f7), to(#d4ecf9)) #FFFFFF;
    z-index: 12;
    float: left;
}

.link{
    padding-top: 9px;
}

.link:hover{
    font-size: 103%; /*TODO: fix this*/
}

ul.nav.dropdown{
    margin-top: 9px;
    float:right;
}

#logo {
    float: left;
    position: fixed;
}

#search-input {
    float: left;
    width: 200px;
    margin-left: 20px;
    font-size: 13px;
    -webkit-appearance: none;
    padding-left: 10px;
    border-radius: 20px;
    border: 0;
    color: #000;
    outline: none;
    -moz-box-shadow:inset 0 2px 2px rgba(0, 0, 0, 0.75);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.75);
    background: url('mag-glass.png') no-repeat 9px 7px #C2E9FD;
}

.selection_button {
    background-color: transparent;
    cursor: pointer;
}

#filter_toolbar {
    font-size: 100%;
}

/* Event formatting */

.event {
    padding: 10px;
    margin-top: 10px;
    background: -moz-linear-gradient(270deg, #ffffff 0%, #ececec 100%) #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec)) #ffffff;
    border: 2px solid #707070;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
}

#event_table{
    width: 100%;
}

.thumbnail {
    height: 50px;
    width: 50px;
}

.event_thumbnail{
    width: 60px;
}

.event_title{
    font-size: 120%;
    font-weight: bold;
    width: 65%;
    padding-left: 10px;
    padding-right: 10px;
}

.event_date{
    background-color: #c8e1e7;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.43);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.43);
    font-size: 110%;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    text-align: center;
}

.event_group{
    padding-top: 10px;
    font-weight: bold;
    font-style: italic;
}

.event_location{
    padding-top: 10px;
}

.event_description {
    display: none;
}


/* End event formatting */



/* Details Bar */
#event_details{
    position: fixed;
    left: 69%;
    height: 83%;
    width: 26%;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 100%;
    overflow-y: scroll;
    background: -moz-linear-gradient(270deg, #ffffff 0%, #ececec 100%) #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec)) #ffffff;
    border: 1px solid #707070;
    text-shadow: 0 1px 0 #ffffff;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
}

#detailsTitle{
    font-size: 130%;
    padding-top: 10px;
    font-weight: bold;
    line-height: 120%;
}

#detailsDate{
    background-color: #c8e1e7;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.43);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.43);
    font-size: 110%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    text-align: center;
}

#detailsLocation{
    float: left;
    padding-top: 10px;
}

#detailsDescription{
    float: left;
    padding-top: 10px;
    text-align:justify;
    text-justify:inter-word;
}

#detailsInfo{
    float:right;
    padding-top: 10px;
}

#detailsGroup{
    float: left;
    padding-top: 20px;
    font-weight: bold;
}

/* End details */

select {
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#NoEventsFound {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 100%;
    font-weight: bold;
}

.nav{
    float: left;
}

#sign_in_popover{
    color:black;
}

.popover {
    right:0px !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 200px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
}