body {
  background-image: url(/assets/NewMemberNew.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Gill Sans", Helvetica, sans-serif;
}

.main {
  width: 50%;
  margin-left: 37%;
  margin-top: 17%;
  margin-bottom: 30px;
  background-color: transparent;
  border-style:solid;
  border-width:0px;
  box-shadow: #333 0px 0px 0px;
  font-size: 100%;
}

#sign_in{
  visibility:hidden;
}

label {
  font-size: 140%;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Light";
  color: #27AAE2;
}

h2 {
  visibility:hidden;
}

#new_password{
  visibility:hidden;
}

#confirmation{
  visibility:hidden;
}

input[name="commit"]{
 color: #27AAE2;
 margin-top: 20%;
 font-family: Helvetica-Bold, Arial, Sans-Serif; 
 font-size: 15px;
  position: relative;
  padding: 15px 30px;
 -webkit-box-shadow: 5px 5px 0 #667;
 -moz-box-shadow: 5px 5px 0 #667;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin: 0 10px 0 0;
}

#error_explanation{
  margin-top: -30px;
  color: #FF0000;
  background-color: transparent;
  border-color: transparent;
}

.field_with_errors{
  background-color: transparent;
  display: inline;
  margin-right: 200px;
}