*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# RubyMine config files
.idea/

Bulletin/.idea/dataSources.xml

Bulletin/.idea/dataSources.xml

Bulletin/.idea/runConfigurations/Development__Bulletin.xml

Bulletin/.idea/runConfigurations/Development__Bulletin.xml

Bulletin/.idea/runConfigurations/Production__Bulletin.xml

Bulletin/.idea/runConfigurations/spec.xml

Bulletin/.idea/runConfigurations/test.xml

Bulletin/.idea/workspace.xml

Bulletin/.idea/workspace.xml
