<div id="footer" class="container">
  <nav class="navbar navbar-custom navbar-fixed-bottom" style="height: 40px">
    <div class='footer'>
      <%= link_to 'Privacy Policy', "#{root_url}static/privacy" %> |
      <%= link_to 'Terms of Service', "#{root_url}static/terms" %> |
      <%= mail_to 'steamtunneling@gmail.com', 'Contact Us' %>
    </div>
  </nav>
</div>