<%= form_tag save_interests_events_path, :method => 'post' do %>
  <table>
    <% count = 0 %>
    <% @tags.each do |tag| %>
      <% if count % 3 == 0 %>
        <tr>
      <% end %>
        <td><div class="tag">
          <%= check_box_tag tag.name %>
          <%= label_tag tag.name, tag.name %>
        </div></td>
        <% count += 1 %>
      <% if count % 3 == 0 %>
        </tr>
      <% end %>
    <% end %>
    <tr><td> <%= submit_tag 'Get Started!', class: 'btn btn-primary' %> </td></tr>
  </table>
<% end %>