<% if @date_changed %>
    <% if @events.empty? %>
        $(".page").html("<div id=\"NoEventsFound\"> No events found </div>")
    <%else %>
        $(".page").html("<%= escape_javascript(render(@events)) %>");
    <% end %>
<% elsif @filters_changed #TODO make this work %>
    <% if @events.empty? %>
        $(".page").html("<div id=\"NoEventsFound\"> No events found </div>")
    <%else %>
        $(".page").html("<%= escape_javascript(render(@events)) %>");
    <% end %>
<% else %>
    <% if @events.empty? %>
        $(".page").html("<div id=\"NoEventsFound\"> No events found </div>")
    <%else %>
        $(".main").append("<div class='page'><%= escape_javascript(render(@events)) %></div>");
    <% end %>
<% end %>
bindEvents();