<% javascript "events/experiment.js" %>

<div class="left main">
  <div id="Search">
    <form>
      <input type="text" name="q", value="<%= @q || "Find Something" %>">
    </form>
  </div>

  <div class='page'>
    <% @events.each do |event| %>
      <%= render :partial => 'stumble_event', :locals => {:event => event} %>
    <% end %>
  </div>
</div>

<div id="Panel" >
  <div id="DateSelector">
    <select id="date_selected">
     <%= options_for_select @dates.keys, :selected => @selected_date %>
    </select>
  </div>
</div>