<% javascript "events/experiment.js" %>

<div class="left main">
  <div class='page'>
    <% if @stumble_event %>
      <%= render :partial => 'stumble_event', :locals => {:event => @stumble_event} %>
    <% end %>
  </div>
<br />
</div>

<div id="Panel" >
  <div id="DateSelector">
    <select id="date_selected">
     <%= options_for_select @dates.keys, :selected => @selected_date %>
    </select>
  </div>
  <div class="right details">
	<%= link_to "Tunnel!", stumble_events_path, :style => "font-size:50px;" %>
  </div>
</div>