@import "bootstrap";

.logout_button li > a:hover, .logout_button li > a:focus, .logout_button:hover > a {
  background-image: none !important;
  background-color: red !important;
}

.popover_logged_out {
  margin-top: 10px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.new_password {
  margin: 10px !important;
}

.btn {
  margin: 5px;
}

.popover_btn {
  margin: 8%;
  width: 84% !important;
}

.popover_checkbox {
  margin-left: 20px !important;
  margin-bottom: 20px !important;
  vertical-align: top;
}

.create_event_checkbox {
  vertical-align: top;
}

label {
  display: inline-block;
}

.feedback-box {
  width: 100% !important;
  height: 200px;
}